@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


body{
   /* font-family: "Open Sans", sans-serif; */
     font-family: 'Poppins', sans-serif;
   background-color:#ebe9e9 !important;
}


*{
  margin:0;
  padding:0;
  /* box-sizing:border-box; */
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 .buttonopen{
  border:none;
  background-color:#fff;
  /* box-shadow:0 0 5px rgba(0,0,0,0.3); */
  transition: all 0.3s ease;
  font-size: 25px;
  /* border-radius: 50px 100px;
   */
   height: 50px;
   /* width: 30px; */
  color:black;
  /* background-color: #282c3438; */
  /* border:black 1px solid; */
}
.searchbox input{
  background: transparent;
  border: 0px;
  outline:none;
}
.searchbox{
  width:400px;
  height:40px;
  background-color: #f0f5ff;
  border-radius: 6px;
}

.buttonopen:hover{
  color:rgb(9, 157, 255);
  /* padding:8px; */
  /* border-radius:80%; */
  transform: scale(1.1);
}
.sidebar-fixed{
  height: 100vh;
}
.main .sidebar ul{ margin-bottom:0px;}
.main .sidebar ul li button{
  color:#000;
  text-align: left;
  /* justify-content: left; */
  /* position:  !important; */
  width:100%;
  border-radius: 0px !important;
  display: flex;
  align-items: center;
  gap:10px;
  justify-content: space-between;
  padding: 12px 10px;
}
.main .sidebar ul li{
  list-style: none;
  width: 100% !important;
}
.main .sidebar::-webkit-scrollbar:hover{opacity: 1 !important; }
.main .sidebar::-webkit-scrollbar{opacity: 0; }
.main .sidebar.toggle {
  /* transform: translateX(-100%); */
}
.main .sidebar {
  width: 260px;                /* fixed width */
  flex-shrink: 0;
  height: 100vh;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
  padding: 0px 10px 0 0;
}
.main {
  display: grid;
  grid-template-columns: 260px 1fr;
  transition: grid-template-columns 0.3s ease-in-out;
  width: 100%;
  min-height: 100vh;
}
.main.collapsed {
  grid-template-columns: 0px 1fr;
}

.main .sidebar ul li button .icon,.arrow{
  display: flex;
  align-items: center;
  justify-content: center;
  width:25px;
  height:25px;
}
.main .sidebar ul li button .arrow {
margin-left:auto;
}
.main .sidebar ul li .submenu li{
width: 100%;
list-style: none;
}
.main .sidebar ul li .submenu{
padding: 0px 45px;
}
.main .sidebar ul li .submenu li a:hover{
  color: #0858f7;
}
.main .sidebar ul li .submenu li a{
color:#5e5d72; 
text-decoration: none;
padding: 4px 0;
display: block;
font-size: 14px;
font-weight: 500;
transition: all 0.3s ease;

}

.sidebar {
  background-color: #fff;
  height: 100vh;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
}

.main.collapsed .sidebar {
  transform: translateX(-100%);
}

.main .sidebar ul li button .icon svg{
  color:#000; 
  opacity: 0.8;
  font-size: 22px;
}
.main .sidebar ul li .submenu{
  border-top: 1px solid #8a8484;
}
.main .sidebar ul li .active {
  background-image: linear-gradient(
    to right,
    #24C6DC 0%,
    #514A9D 51%,
    #24C6DC 100%
  );
  background-size: 200% auto;
  color: #ffffff !important;
  border-radius: 10px !important;
  transition: all 0.5s ease;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.main .sidebar ul li .active:hover {
  background-position: right center;
  color: #fff;
}


.main .sidebar ul li .submenuwrapper.colapsed{
  height:0px;
  animation: colapseanim 0.3s ease-in-out forwards;
  .submenu{
    opacity: 0;
  }
}
.main .sidebar ul li .submenuwrapper.colapse{
  height:auto;
  animation: colapseanim 0.3s ease-in-out forwards;
  .submenu{
    opacity: 1;
  }
}
.arrow.rotate {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}
.logoutwrapper{
  position:relative;
  width:100%;
  height:120px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* padding: 25px; */
  background-color:#0858f775 ;
  border-radius: 10px;
  
}
.logoutmain{
  position:absolute;
  bottom:40px;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoutbtn svg{
  font-size: 18px;
  margin-right:10px;
}

@media (max-width: 768px) {
  .main .sidebar {
    position: fixed;
    z-index: 1000;
  }
}


/* content css */
.content {
  padding: 20px 30px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.content.toggle {
  /* flex:1; */
  /* margin-left: 0; */
  /* flex: 0 0 100%; */
}
.chart{
  opacity: 0.1;
  position: absolute;
  bottom: 20px;
  left: 20px;
  /* z-index: -999; */
}
.chart svg{
    font-size: 200px ;
  color: #000;

}

/* table ocde dashbaord */
.table{
  background-color:#fff;
  border-radius:10px;
  /* margin-left: 8%; */
}


/* orders table css */
.user{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  grid-template-areas:
   "box1 box2 box3 box4"
   "box1 box5 box6 box4"
   "box7 box8 box8 box9"
  ;
}
.box{
  /* padding:20px; */
  background-color:#fff;
  border-radius:10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border: 1px solid #e0e0e0;
  min-height: 150px;
  max-height: fit-content;
}
.box2,.box3,.box5,.box6{
 /* height: 120px !important; */
}
.box8{
  /* height: 200px !important; */
}
.box1{ grid-area: box1; padding: 10px; }
.box2{ grid-area: box2; }
.box3{ grid-area: box3; }
.box4{ grid-area: box4; }
.box5{ grid-area: box5; }
.box6{ grid-area: box6; }
.box7{ grid-area: box7; }
.box8{ grid-area: box8; }
.MuiTypography-root{
  display:none !important; 
}
.css-8atqhb{
  height:280px;
}
.css-l5hjva-MuiChartsSurface-root{
  height: 260px !important;
}

